/* marginLeft: "auto",
    backgroundColor: "orange",
    border: "none",
    padding: "4px",
    fontSize: "1rem",
    color: "white",
    borderRadius: "10%", */


.text {
    margin-left: "auto";
    background-color: blueviolet;
    border: solid 1px black;
    padding: 2px;
    font-size: 2rem;
    color: cadetblue;
    border-radius: 2px;
    }

    